# PostgreSQL Database URL (Pooled)
POOLED_DATABASE_URL=
# PostgreSQL Database URL (Non-pooled, for migrations)
DIRECT_DATABASE_URL=

# Stellar network to authenticate against (PUBLIC or TESTNET)
STELLAR_NETWORK=
# Stellar keypair to author SEP-10 challenge transactions
STELLAR_SERVER_SECRET_KEY=
# Domain identifying the service in the SEP-10 challenge
AUTH_HOME_DOMAIN=
# Domain issuing the challenge
# Same as AUTH_HOME_DOMAIN unless auth is centralized elsewhere
AUTH_WEB_AUTH_DOMAIN=
# Random secret to sign session JWTs (min 32 characters)
SESSION_SECRET=
